<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if @relevant_chp_nums.empty? == false %>
  <h2 class="content-subhead">Results for '<%= @search_term %>'</h2>
  
  <div class="pure-main">
    <ul class="pure-main-list">
      <% @relevant_chp_nums.each do |num| %>
        <li class="pure-menu-item">
          <%= @table_of_contents[num - 1] %>
            <% @chptr_and_matching_paragraphs[num].each do |subhash| %>
              <ul>
                <li>
                  <a href="/chapters/<%= num %>#paragraph<%= subhash.keys[0]%>" class="pure-main-link">
                    <%= highlight(subhash.values[0], params[:query]) %>
                  </a>
                </li>
              </ul>
            <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% elsif @search_term.nil? == false %>
  <div class="pure-main">
    <p>Sorry, no matches were found.</p>
  </div>
<% end %>