<ul><% @scrubbed_list_of_files.each do |filename| %>
  <li>
    <a href="/<%= filename %>"><%= filename %></a>
    <a href="/<%= filename %>/edit">Edit</a>
    <form class="inline" action="/<%= filename %>/delete" method="post">
      <button type="submit">Delete</button>
    </form>
    <form class="inline" action="/<%= filename %>/duplicate" method="post">
      <button type="submit">Duplicate</button>
    </form>
    <a href="/<%= filename %>/rename">Rename</a>
  </li>
<% end %>
</ul>

<p>
  <a href="/new">New File</a>
</p>

<% if session[:username] %>
  <form action="/users/logout" method="post">
    <p class="login-status">
      Signed in as <%= session[:username] %>.
      <button type="submit">Logout</button>
    </p>
  </form>
<% else %>
  <p class="login-status"></p><a href="/users/login">Login</a>
<% end %>
