<div style="float: left;margin-right:100px">
  <table>
    <thead>
      <tr>
        <th colspan="6"><%= @game.players[1].name %>'s Hand:</th>
      </tr>
    </thead>
  </table>

<p>
  <span>
    <strong>Current Score:</strong>
    <%= display_score(@game.players) %>
  </span>
</p>
<br>

<% ensure_card_order(players_hand(@game, 1)).each do |card_array| %>
  <table style="border:1px solid;">
    <tbody>
      <tr>
        <td>
          <img src="/images/<%= extract_suit(card_array) %>.png">
        </td>
      </tr>
      <tr></tr>
      <tr>
        <td colspan="6">
          <p><%= card_array[1] %></p>
        </td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <img src="/images/<%= extract_suit(card_array) %>.png">
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<div style="float: left;margin-right:100px">
   <table>
    <thead>
      <tr>
        <th colspan="6"><%= @game.players[0].name.capitalize %>'s Hand:</th>
      </tr>
    </thead>
  </table>

<% ensure_card_order(players_hand(@game, 0)).each do |card_array| %>
  <table style="border:1px solid;">
    <tbody>
      <tr>
        <td>
          <img src="/images/<%= extract_suit(card_array) %>.png">
        </td>
      </tr>
      <tr></tr>
      <tr>
        <td colspan="6">
          <p><%= card_array[1] %></p>
        </td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <img src="/images/<%= extract_suit(card_array) %>.png">
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
