<h1>Welcome to the game of Twenty One!</h1>

<% if session[:username] %>
  <p><a href="/new/game">Start New Game</a></p>
  <form action="/users/logout" method="post">
    <p>
      Signed in as <%= session[:username] %>.
      <button type="submit">Logout</button>
    </p>
  </form>
<% else %>
  <a href="/users/login">Login</a>
<% end %>


<table style="width: 100%;">
  <thead>
    <tr>
      <td>
        <th colspan="30"><h2>Leaderboard:</h2></th>
      </td>
    </tr>
    <tr>
      <% ["Player", "Win Rate", "Games Played"].each do |column_title| %>
      <td>
        <th colspan="8">
          <h3>
            <%= column_title %>
          </h3>
        </th>
      </td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @wins_plays_counts.each do |player_profile| %>
      <tr>
        <td colspan="8">
          <th><%= player_profile[0] %></th>
        </td>
        <td colspan="8" style=<%= rate_color_scheme(win_rate(player_profile)) %>>
            <h4><%= format_win_rate(player_profile)  %></h4>
        </td>
        <td colspan="8">
          <h4><%= player_profile[1][:plays] %></h4>
        </td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

