<p><%= @deck %></p>

<table>
    <thead>
      <tr>
        <th colspan="12">Initial cards were dealt! The current hands are:</th>
      </tr>
    </thead>
</table>


<div style="float: left;margin-right:100px">
  <table>
    <thead>
      <tr>
        <th colspan="6"><%= @game.players[1]).name %>'s Hand:</th>
      </tr>
    </thead>
  </table>

  <table style="border:1px solid;">
    <tbody>
      <tr>
        <td>
          <img src="/images/<%= find_suit(@game.players[1]) %>.png">
        </td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <img src="/images/<%= find_suit(@game.players[1]) %>.png">
        </td>
      </tr>
    </tbody>
  </table>
  
  <table style="border:1px solid;">
    <tbody>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </tbody>
  </table>
</div>

<div style="float: left;margin-right:100px">
   <table>
    <thead>
      <tr>
        <th colspan="6"><%= @game.players[0]).name %>'s Hand:</th>
      </tr>
    </thead>
  </table>

<% @game.players[0].hand.each do |card_array| %>
  <table style="border:1px solid;">
    <tbody>
      <tr>
        <td>
          <img src="/images/<%= extract_suit(card_array) %>.png">
        </td>
      </tr>
      <tr></tr>
      <tr>
        <td>
          <p><%= card_array[1] %></p>
        </td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <img src="/images/<%= extract_suit(card_array) %>.png">
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<div>
  <form action="/game/<%= @game_id %>/hit" method="post">
    <button type="submit">Hit</button>
  </form>
  <form action="/game/<%= @game_id %>/stay" method="post">
    <button type="submit">Stay</button>
  </form>
</div>
