<% if session[:message].match(/(Initial cards|You pulled)/) %>
  <div>
    <form action="/game/<%= @game_id %>/hit" method="post">
      <button type="submit">Hit</button>
    </form>
    <form action="/game/<%= @game_id %>/stay" method="post">
      <button type="submit">Stay</button>
    </form>
  </div>
<% else %>
  <p>
    <a href="/new/game">Play Again</a>
    <br>
    <a href="/">Homepage</a>
  </p>
<% end %>

<div style="float: left;margin-right:100px">
  <table>
    <thead>
      <tr>
        <th colspan="6"><%= @game.players[1].name %>'s Hand:</th>
      </tr>
    </thead>
  </table>

  <table style="border:1px solid;">
    <tbody>
      <tr>
        <td>
          <img src="/images/<%= extract_suit(players_hand(@game, 1)[0]) %>.png">
        </td>
      </tr>
      <tr></tr>
      <tr>
        <td>
          <p><%= players_hand(@game, 1)[0][1] %></p>
        </td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <img src="/images/<%= extract_suit(players_hand(@game, 1)[0]) %>.png">
        </td>
      </tr>
    </tbody>
  </table>
  
  <table style="border:1px solid;" id="unknown_card">
    <tbody>
      <% 3.times do |_| %>
        <tr>
          <% 2.times do |_| %>
            <td>
              <img src="/images/question_mark.png">
            </td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div style="float: left;margin-right:100px">
   <table>
    <thead>
      <tr>
        <th colspan="6"><%= @game.players[0].name.capitalize %>'s Hand:</th>
      </tr>
    </thead>
  </table>

<% ensure_card_order(players_hand(@game, 0)).each do |card_array| %>
  <table style="border:1px solid;">
    <tbody>
      <tr>
        <td>
          <img src="/images/<%= extract_suit(card_array) %>.png">
        </td>
      </tr>
      <tr></tr>
      <tr>
        <td colspan="6">
          <p><%= card_array[1] %></p>
        </td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <img src="/images/<%= extract_suit(card_array) %>.png">
        </td>
      </tr>
    </tbody>
  </table>
<% end %>